---
import CaseLayout from '../../../layouts/CaseLayout.astro';
import maysix from '../../../components/assets/maysix.png';
import sochic from '../../../components/assets/sochic.png';
import mercado from '../../../components/assets/mercado.png';
import shadow from '../../../components/assets/shadow.png';
import ValuesSlider from '../../../components/ValuesSlider.tsx';
import organigrama from '../../../components/assets/organigrama.png';
import floresta from '../../../components/assets/floresta.png';
import clothes6 from '../../../components/assets/clothes6.png';
import maysixLogo from '../../../components/assets/maysix-logo.png';
import sochicLogo from '../../../components/assets/sochic-logo.png';
import woman1 from '../../../components/assets/woman1.png';
import woman2 from '../../../components/assets/woman2.png';
import woman3 from '../../../components/assets/woman3.png';
import woman4 from '../../../components/assets/woman4.png';
import woman5 from '../../../components/assets/woman5.png';
import HighlightedText from '../../../components/HighlightedText.astro';
---

<CaseLayout title="SOCHIC | MAYSIX">
  <div class="py-20 flex flex-wrap relative">
    <img class="relative z-0 sm:z-10" src={sochic.src} />
    <img class="absolute z-10 sm:z-0 right-0 top-48" src={maysix.src} />
  </div>
  <div class="web-banner">
    <img class="absolute top-10" src={shadow.src} alt="" />
    <div class="web-container grid sm:grid-cols-6 py-12 sm:!py-20">
      <h2 class="sm:col-span-1 text-2xl text-tt-blue">Historia</h2>
      <p class="sm:col-span-5 text-tt-text font-extralight">
        En el año 2000, comenzaron con el primer local ubicado en la calle
        Aranguren, en la zona de Floresta, bajo el nombre de "Tea". Este era un
        modesto emprendimiento familiar liderado por dos hermanas y sus
        respectivas parejas. Las mujeres se encargaban de seleccionar los
        modelos, mientras que los hombres se dedicaban a la fabricación. Sin
        embargo, durante la crisis del 2001, vivieron su peor momento y, con
        mucho esfuerzo, lograron mantenerse hasta el 2003, año en el que
        finalmente lograron recuperarse de lo sucedido. En el 2011, tuvieron la
        oportunidad de mudarse a una de las calles principales de la zona
        mayorista, Av. Avellaneda, cambiando su nombre a <HighlightedText>
          "SOCHIC"
        </HighlightedText>.
        <br /><br />
         Así fue como, después de superar las crisis, la marca experimentó un
        crecimiento exponencial que le permitió expandirse en el mercado.
        Crecieron cada vez más y se vieron obligados a mudarse a la ubicación
        actual, Morón 3265, que sirve como sede principal y cabe destacar que el
        negocio tiene el doble de tamaño que un local normal.
        <br /><br />
         En el año 2017, abrieron su segundo local en Aranguren, inicialmente
        llamado "Tea", en consonancia con el nombre del primer negocio que
        fundaron. Pero en el año 2020, lo cambiaron a "Sochic", convirtiéndolo
        en su segunda sucursal. Esta modificación se debió a que vendían las
        mismas prendas y la gestión laboral y administrativa resultaba más
        sencilla.
      </p>
    </div>
  </div>
  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Mercado</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight pb-8">
        El mercado en el que operan se encuentra en la zona comercial de Flores
        más conocida como "Avellaneda" por la avenida principal que la
        atravieza. Principalmente, se dedican a la fabricación y venta de
        indumentaria textil, accesorios, bazares, entre otros productos,
        dirigidos principalmente a clientes que gestionan sus propios negocios
        minoristas.
        <br /><br />
         Este mercado se considera "cerrado", ya que cuenta con una comunidad
        que establece sus propias normas internas y métodos de comunicación. Por
        lo tanto, si la mayoría de los negocios toma una decisión, los demás
        suelen seguir la misma dirección.
        <br /><br />
         En la actualidad, debido a las dificultades económicas del país y las
        interacciones en las redes sociales, muchos locales minoristas que
        solían adquirir productos de mayoristas para revenderlos a consumidores
        finales se vieron obligados a cerrar. Ante esta situación, el mercado
        mayorista no tuvo otra opción que empezar a vender directamente a los
        consumidores finales como una medida para sobrevivir.
      </p>
      <img class="w-full" src={mercado.src} alt="" />
    </div>
  </div>
  <div class="web-banner pt-12 bg-[#F2EAE2] flex flex-col gap-20">
    <div class="web-container grid sm:grid-cols-6">
      <h2 class="sm:col-span-1 text-2xl text-tt-blue">
        Identidad Organizacional
      </h2>
      <div class="sm:col-span-5 sm:ml-10 flex flex-col gap-4">
        <p class="text-2xl font-medium">
          La misión, visión y valores de la organización son aplicables a ambas
          marcas, ya que son gestionadas por los mismos propietarios. Cabe
          destacar que, como consultores, hemos colaborado con la organización
          en la formulación y definición de estos elementos, dado que
          inicialmente no estaban claramente definidos.
        </p>
        <p class="text-tt-text font-extralight">
          Sochic, con su extensa presencia en el mercado a lo largo de muchos
          años, se posiciona como una de las marcas más destacadas en la
          industria femenina mayorista. Por otro lado, Maysix, a pesar de ser
          relativamente nueva en el mercado, se distingue por ofrecer prendas
          con detalles únicos que no se encuentran en otras marcas.
        </p>
        <div class="flex flex-col gap-8 sm:flex-row">
          <div
            class="border-tt-blue border rounded-2xl p-8 flex flex-col gap-4"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="47"
              height="47"
              viewBox="0 0 47 47"
              fill="none"
            >
              <g clip-path="url(#clip0_2516_212)">
                <path
                  d="M17.8619 36.0923C12.8827 36.7963 9.40002 38.4799 9.40002 40.9573C9.40002 44.2943 15.2191 47 23.5 47C31.781 47 37.6 44.2947 37.6 40.9573C37.6 38.4794 34.1173 36.7963 29.1386 36.0928L28.4487 37.2673C32.2016 37.7876 34.78 38.8822 34.78 40.1517C34.78 41.9316 29.7299 43.3745 23.5 43.3745C17.2702 43.3745 12.22 41.9316 12.22 40.1517C12.2196 38.8864 14.7815 37.7932 18.5458 37.2706C18.3183 36.8777 18.0899 36.4857 17.8619 36.0923Z"
                  fill="#111827"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M23.5 1.61311e-05C23.4826 5.3627e-05 23.4652 0.000367 23.4478 0.000956131C23.4404 0.00121998 23.4331 0.00153332 23.4257 0.00189613C23.4209 0.00218791 23.416 0.00250125 23.4112 0.00283613C23.3948 0.00353359 23.3785 0.0044737 23.3623 0.00565613C23.3491 0.0070637 23.3359 0.00863048 23.3228 0.0103561C23.3131 0.0110531 23.3034 0.0118365 23.2937 0.0127061C23.2761 0.0152416 23.2585 0.0180619 23.241 0.0211661C23.2336 0.0223693 23.2263 0.0236227 23.2189 0.0249261C23.2057 0.0271156 23.1926 0.0294658 23.1794 0.0319761C23.1675 0.0343506 23.1556 0.0368574 23.1437 0.0394961C23.1367 0.0410164 23.1296 0.0425831 23.1226 0.0441961C23.1023 0.0489812 23.0821 0.0541521 23.0619 0.0597061C23.0432 0.0648586 23.0246 0.0703428 23.006 0.0761561C22.9944 0.0799433 22.9828 0.0838602 22.9712 0.0879061C22.9544 0.0935871 22.9376 0.0995412 22.9209 0.105766C22.898 0.114345 22.8753 0.123434 22.8528 0.133026C22.8353 0.140401 22.8179 0.148079 22.8006 0.156056C22.7891 0.161407 22.7777 0.166891 22.7663 0.172506C22.7505 0.180556 22.7348 0.18886 22.7193 0.197416C22.6997 0.207986 22.6802 0.218955 22.661 0.230316C22.6591 0.231253 22.6573 0.232193 22.6554 0.233136C22.6405 0.242145 22.6258 0.25139 22.6112 0.260866C22.591 0.273592 22.5711 0.286755 22.5515 0.300346C22.5507 0.301285 22.55 0.302225 22.5492 0.303166C22.5346 0.313583 22.5202 0.324238 22.5059 0.335126C22.498 0.340853 22.4902 0.34665 22.4824 0.352516C22.4726 0.360239 22.4629 0.368073 22.4533 0.376016C22.4422 0.385271 22.4312 0.394672 22.4204 0.404216C22.4191 0.405311 22.4179 0.406408 22.4166 0.407506C22.4036 0.418896 22.3908 0.430491 22.3781 0.442286C22.36 0.459118 22.3423 0.476356 22.325 0.493986C22.3096 0.509819 22.2946 0.525959 22.2799 0.542396C22.2762 0.546139 22.2726 0.549899 22.2691 0.553676C22.2627 0.560984 22.2565 0.568348 22.2503 0.575766C22.2383 0.589668 22.2265 0.60377 22.215 0.618066C22.2122 0.621658 22.2093 0.625261 22.2065 0.628876C22.1934 0.645856 22.1805 0.663093 22.168 0.680576C22.1548 0.698797 22.1419 0.717288 22.1295 0.736036C22.1282 0.7376 22.127 0.739167 22.1257 0.740736C22.1164 0.755318 22.1073 0.770047 22.0984 0.784916C22.0889 0.800117 22.0797 0.815473 22.0707 0.830976C22.0648 0.841565 22.059 0.852219 22.0533 0.862936C22.0524 0.864501 22.0514 0.866068 22.0505 0.867636C22.0424 0.883177 22.0346 0.898845 22.027 0.914636C22.0196 0.92941 22.0124 0.944295 22.0054 0.959286C21.9991 0.972676 21.993 0.986151 21.987 0.999706C21.9867 1.00033 21.9864 1.00096 21.9861 1.00159C21.9796 1.01731 21.9733 1.03314 21.9673 1.04906C21.9604 1.06618 21.9539 1.08341 21.9476 1.10076C21.9438 1.112 21.9402 1.12328 21.9368 1.1346C21.9352 1.13851 21.9336 1.14242 21.9321 1.14635C21.9255 1.16737 21.9194 1.18853 21.9137 1.2098C21.9131 1.21261 21.9125 1.21543 21.9118 1.21826C21.9077 1.2334 21.9038 1.24859 21.9001 1.26385C21.8946 1.28677 21.8896 1.3098 21.8851 1.33294C21.8816 1.3509 21.8785 1.36892 21.8757 1.38699C21.874 1.39888 21.8724 1.41078 21.871 1.42271C21.8702 1.4274 21.8694 1.4321 21.8686 1.43681C21.8662 1.45604 21.8642 1.47531 21.8625 1.49462C21.8618 1.50307 21.8612 1.51153 21.8606 1.52C21.8591 1.53721 21.8578 1.55444 21.8569 1.5717C21.8568 1.57561 21.8568 1.57953 21.8569 1.58345C21.8559 1.60396 21.8552 1.62448 21.855 1.64502V39.245C21.855 39.6813 22.0283 40.0997 22.3368 40.4082C22.6453 40.7167 23.0637 40.89 23.5 40.89C23.9363 40.89 24.3547 40.7167 24.6632 40.4082C24.9717 40.0997 25.145 39.6813 25.145 39.245V21.5133L45.3183 12.5476C45.609 12.4183 45.856 12.2075 46.0293 11.9408C46.2026 11.674 46.2949 11.3627 46.2949 11.0445C46.2949 10.7264 46.2026 10.4151 46.0293 10.1483C45.856 9.88155 45.609 9.67076 45.3183 9.54149L24.1683 0.141486C24.16 0.137971 24.1517 0.134525 24.1434 0.131146C24.1214 0.121889 24.0991 0.113113 24.0767 0.104826C24.0764 0.104513 24.076 0.104199 24.0757 0.103886C24.0751 0.103572 24.0745 0.103259 24.0739 0.102946C24.0513 0.0946159 24.0286 0.0867807 24.0057 0.0794461C23.982 0.0720153 23.9582 0.0651202 23.9343 0.0587661C23.9104 0.0519587 23.8865 0.0456904 23.8624 0.0399661C23.8383 0.0347259 23.8142 0.0300247 23.79 0.0258661C23.7659 0.0215693 23.7418 0.0178084 23.7176 0.0145861C23.6932 0.0113752 23.6688 0.00871117 23.6443 0.00659613C23.6194 0.00446266 23.5945 0.00289559 23.5695 0.00189613C23.5537 0.001041 23.5379 0.000414266 23.5221 1.61312e-05C23.5172 -5.37705e-06 23.5124 -5.37705e-06 23.5075 1.61311e-05C23.505 1.04016e-05 23.5025 1.04016e-05 23.5 1.61311e-05Z"
                  fill="#111827"></path>
              </g>
              <defs>
                <clipPath id="clip0_2516_212">
                  <rect width="47" height="47" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <h2>La Misión</h2>
            <p class="text-sm font-extralight">
              "Nuestra misión consiste en vestir a las mujeres con el estilo de
              las tendencias actuales, proporcionando una extensa variedad de
              prendas de alta calidad a precios mayoristas accesibles. Nos
              esforzamos por ser un socio confiable para los minoristas,
              ofreciendo productos de moda que capturan las últimas tendencias y
              permiten a las mujeres expresarse a través de su estilo personal.
              En nuestra búsqueda de la excelencia, valoramos la satisfacción
              del cliente y nos comprometemos a superar sus expectativas en cada
              interacción".
            </p>
          </div>
          <div
            class="border-tt-blue border rounded-2xl p-8 flex flex-col gap-4"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 56 56"
              fill="none"
            >
              <path
                d="M9.23543 53.7272C9.19015 53.7267 9.1453 53.7261 9.09871 53.7237C8.8501 53.7114 8.58005 53.6716 8.29196 53.6041C7.14002 53.3342 5.78136 52.5836 4.60405 51.4063C3.42674 50.2291 2.6761 48.8703 2.40627 47.7182C2.13644 46.5662 2.32555 45.7243 2.81643 45.2334C3.24627 44.8035 3.94627 44.6031 4.88777 44.7412C4.68871 45.3423 4.6956 46.0091 4.84325 46.6314C5.08191 47.637 5.66357 48.6272 6.51822 49.4819C7.37288 50.3368 8.35966 50.918 9.36526 51.1568C9.61682 51.2163 9.87877 51.2526 10.1379 51.2627C10.5223 51.2774 10.9059 51.2291 11.2658 51.1088C11.4079 52.0564 11.2089 52.7584 10.7768 53.1904C10.4319 53.5356 9.91322 53.7341 9.23543 53.7272ZM10.3223 49.2291C10.286 49.2297 10.2464 49.228 10.206 49.2256C10.0988 49.219 9.97852 49.2004 9.84038 49.1676C9.28727 49.0364 8.57797 48.6505 7.96383 48.0362C7.34958 47.4219 6.9636 46.7128 6.83246 46.1597C6.70121 45.6069 6.80511 45.3155 6.94511 45.1753L6.98274 45.1378L7.01686 45.0934L11.5389 39.4879C12.0226 40.497 12.7251 41.4844 13.6203 42.3798C14.5156 43.2748 15.5031 43.9774 16.5121 44.4612L10.9069 48.983L10.8624 49.0171L10.8248 49.0547C10.7329 49.1466 10.5763 49.2245 10.3223 49.2291ZM19.6432 43.1758C19.5566 43.1781 19.4699 43.177 19.3833 43.1725C19.1462 43.16 18.8868 43.1217 18.6107 43.0562C17.5066 42.7943 16.1999 42.0672 15.0663 40.9336C13.9328 39.8001 13.2056 38.4935 12.9438 37.3892C12.6819 36.2851 12.8643 35.4897 13.3266 35.0274L13.3642 34.9864L13.3983 34.9454L13.8085 34.4395C13.8135 34.4621 13.8168 34.4852 13.8222 34.5079C14.2133 36.1778 15.1995 37.8914 16.6796 39.3718C18.1526 40.8448 19.8569 41.8274 21.5194 42.2221L21.0546 42.5983L21.0136 42.6358L20.9726 42.6734C20.6692 42.9769 20.2258 43.1599 19.643 43.1758H19.6432ZM23.0542 40.3697C22.7376 40.3708 22.3885 40.3288 22.0086 40.2398C20.7921 39.9549 19.3633 39.1637 18.1258 37.9258C16.8878 36.6879 16.0966 35.2595 15.8117 34.043C15.5802 33.0547 15.6678 32.2735 15.9928 31.7325L16.003 31.7154L21.294 25.1595C21.974 27.1558 23.2512 29.1779 25.0366 30.9633C26.8229 32.7494 28.8467 34.0262 30.8438 34.7062L24.0352 40.1954C23.7555 40.3066 23.4268 40.3685 23.0541 40.3697H23.0542ZM33.9097 33.2227C33.8334 33.2219 33.7554 33.2197 33.6774 33.2158C33.2602 33.1952 32.8188 33.1285 32.3512 33.0176C30.4811 32.574 28.3349 31.3764 26.4793 29.5209C24.6237 27.6656 23.4263 25.5193 22.9826 23.649C22.539 21.7785 22.8312 20.2868 23.7416 19.3764L23.779 19.3387L23.8133 19.2943L23.8472 19.2499C23.8925 19.6548 23.9621 20.0566 24.0557 20.4531C24.63 22.9037 26.0958 25.4701 28.3112 27.6855C30.5266 29.9009 33.0928 31.3668 35.5436 31.9408C35.9485 32.036 36.353 32.1063 36.7533 32.1494L36.7056 32.187L36.6612 32.2214L36.6236 32.259C35.9834 32.8991 35.0545 33.2344 33.9097 33.2228V33.2227ZM37.7619 30.1635C37.2204 30.1672 36.6326 30.0979 36.0086 29.9517C34.0112 29.4838 31.73 28.2129 29.7569 26.2398C27.7838 24.2666 26.5129 21.9855 26.0451 19.9883C25.6961 18.4989 25.7847 17.2233 26.2605 16.2627L32.3717 8.68518C32.4221 9.03354 32.4875 9.38278 32.5697 9.73442C33.261 12.6854 35.0378 15.7947 37.7241 18.4811C40.4104 21.1674 43.5166 22.9407 46.4673 23.6318C46.6921 23.6845 46.9166 23.7292 47.1406 23.7685L39.7546 29.7295H39.7509C39.1896 30.0111 38.5198 30.1587 37.7617 30.1637L37.7619 30.1635ZM49.0378 21.9057C48.9342 21.9051 48.8292 21.9038 48.7233 21.8991C48.1583 21.8733 47.5599 21.7889 46.9356 21.6426C44.4383 21.0577 41.6105 19.4792 39.1667 17.0352C36.7225 14.5912 35.1441 11.7633 34.5591 9.26629C33.974 6.76893 34.3655 4.70502 35.6425 3.42829C36.5022 2.56838 37.7202 2.11065 39.1869 2.08156C39.112 2.1478 39.039 2.21623 38.9681 2.28674C37.4971 3.75806 37.1936 5.97651 37.7103 8.18271C38.2272 10.389 39.5431 12.6849 41.5284 14.6701C43.5136 16.6552 45.8128 17.9746 48.019 18.4914C48.5707 18.6205 49.1222 18.699 49.6633 18.7203C51.2864 18.7844 52.8082 18.337 53.9117 17.2335C53.9848 17.1607 54.0555 17.0854 54.1237 17.008C54.0969 18.4777 53.6381 19.698 52.777 20.5594C51.8793 21.457 50.5916 21.9156 49.0379 21.9058L49.0378 21.9057ZM49.9434 16.6866C49.8723 16.6861 49.8012 16.6831 49.7281 16.6797C49.3383 16.6615 48.922 16.6046 48.484 16.502C46.7314 16.0914 44.7171 14.9704 42.9743 13.2275C42.1188 12.372 41.4143 11.4515 40.8689 10.5274C41.0575 10.7525 41.2559 10.9692 41.4636 11.1769C43.3243 13.0373 45.6336 13.9069 47.2846 13.5284C46.6418 13.226 45.9936 12.7776 45.4079 12.1919C43.6371 10.4211 43.0925 8.09532 44.1911 6.99654C45.0371 6.15074 46.614 6.27609 48.1013 7.18795C47.7655 6.68832 47.3632 6.20029 46.9018 5.73873C44.877 3.7142 42.3216 2.85998 40.6605 3.51371C41.5152 2.84543 42.8061 2.64899 44.3963 3.02152C46.1491 3.43212 48.1632 4.5531 49.9061 6.29599C51.6491 8.03877 52.7701 10.053 53.1808 11.8058C53.5911 13.5584 53.3115 14.9459 52.4698 15.7877C51.8778 16.3794 51.013 16.6947 49.9438 16.6867L49.9434 16.6866Z"
                fill="#111827"></path>
            </svg>
            <h2>La Visión</h2>
            <p class="text-sm font-extralight">
              "Nuestra visión es ser líderes en la industria mayorista de
              indumentaria femenina, destacándonos por nuestro compromiso con la
              calidad, variedad y la satisfacción del cliente. Aspiramos a
              ampliar nuestra presencia en el mercado nacional, proporcionando
              una amplia gama de productos que inspiren confianza y
              empoderamiento en mujeres de todo el mundo. Buscamos convertirnos
              en la opción preferida de minoristas que valoran la calidad y el
              estilo en cada prenda que ofrecemos".
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="-mb-28">
      <ValuesSlider client:load />
    </div>
  </div>
  <div class="w-full h-40 sm:h-60"></div>

  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Objetivos Estratégicos</h2>
    <div class="sm:col-span-5">
      <ul
        class="text-tt-text font-extralight pb-8 list-disc ml-5 flex flex-col gap-4"
      >
        <li>
          Implementar <HighlightedText>
            programas de fidelización de clientes
          </HighlightedText> mayoristas en el segundo trimestre de 2024. El
          propósito de este programa es retener a los clientes mayoristas más
          importantes y, simultáneamente, atraer a nuevos clientes mayoristas.
          Buscamos lograr un aumento del 20% en las compras totales mensuales
          por cliente.
        </li>
        <li>
          <strong class="bg-[#e5f77d]"> Reducir costos</strong> en un 10% por
          encima de la inflación para octubre 2024.
        </li>
        <li>
          Aumentar ventas en un 15% por encima de la inflación para <strong
            class="bg-[#e5f77d]">maximizar ganancias</strong
          > a octubre 2024.
        </li>
        <li>
          Bajar los precios a un 5 o 10%. Quieren <strong class="bg-[#e5f77d]"
            >bajar los precios</strong
          > bajando el porcentaje de ganancia, ya que sus precios son más altos
          al lado de sus competidores.
        </li>
        <li>
          Abrir como mínimo una <strong class="bg-[#e5f77d]"
            >nueva sucursal</strong
          > en la zona actual de Avellaneda para expandir su negocio para el año
          2027. Es un objetivo a largo plazo, tienen la ambición y la
          experiencia, pero depende mucho de la situación económica del país y
          que los primeros objetivos se cumplan para 2027.
        </li>
        <li>
          Integrar las distintas bases de datos de los sistemas y así poder
          <strong class="bg-[#e5f77d]">controlar los stocks</strong>. Se mide
          comparando el stock lógico vs el stock físico. Este objetivo es
          medible, alcanzable y relevante, para el primer Q 2024.
        </li>
      </ul>
    </div>
  </div>
  <div class="web-banner relative">
    <img class="absolute top-10" src={shadow.src} alt="" />
    <div class="web-container grid sm:grid-cols-6 py-12">
      <h2 class="sm:col-span-1 text-2xl text-tt-blue">Organigrama</h2>
      <div class="sm:col-span-5">
        <p class="text-tt-text font-extralight pb-8">
          <!-- Tanto Maysix como Sochic se ubican en el barrio de Floresta, CABA. Por
          el tipo de público propio del rubro en la zona, los clientes
          presenciales suelen incluir locales de zonas aledañas al conurbano
          bonaerense. La venta online tiene alcance a todo el país. Su trabajo
          en conjunto a sus proveedores costureros hace que sus productos sean
          de industria nacional. -->
        </p>
        <img class="w-full" src={organigrama.src} alt="" />
      </div>
    </div>
  </div>

  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Localización</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight pb-8">
        Tanto Maysix como Sochic tienen su ubicación en el <HighlightedText>
          barrio de Floresta, CABA
        </HighlightedText>. Dada la naturaleza del público objetivo en esta
        área, los clientes presenciales suelen abarcar locales de zonas cercanas
        al conurbano bonaerense. Por otro lado, la venta online permite llegar a
        clientes en todo el país. La colaboración cercana con nuestros
        proveedores costureros contribuye a que nuestros productos sean de
        fabricación nacional.
      </p>
      <img class="w-full" src={floresta.src} alt="" />
    </div>
  </div>

  <div class="web-banner bg-primary pt-20">
    <div class="web-container grid sm:grid-cols-6">
      <h2 class="sm:col-span-1 text-2xl">Productos y servicios</h2>
      <div class="sm:col-span-5">
        <p class="text-tt-text font-extralight pb-8">
          Maysix se especializa en la confección de indumentaria femenina
          dirigida a jóvenes de entre 16 y 35 años, enfocándose especialmente en
          looks para eventos nocturnos y fiestas.
          <br /><br />
           Sochic, por otro lado, también se dedica a la indumentaria femenina
          dirigida a un público de entre 16 y 35 años, pero su enfoque está
          orientado hacia outfits para salidas casuales y diurnas. Ambas marcas
          se distinguen por la fabricación de sus propios productos y diseños
          exclusivos.
          <br /><br />
           Ambas marcas se dirigen a comerciantes que gestionan locales
          minoristas con un enfoque similar en términos de rubro y público
          objetivo. Este modelo comercial se denomina Business to Business
          (B2B), donde las marcas proveen sus productos directamente a otros
          negocios que comparten su mercado objetivo.
        </p>
      </div>
    </div>
    <div class="py-12 overflow-hidden flex flex-col gap-12">
      <div class="flex gap-8 items-end justify-end">
        <img src={maysixLogo.src} />
        <img src={woman1.src} alt="" />
        <img src={woman2.src} alt="" />
        <img src={woman3.src} alt="" />
      </div>
      <div class="flex gap-8 items-end">
        <img src={sochicLogo.src} />
        <img src={woman4.src} alt="" />
        <img src={woman5.src} alt="" />
        <img src={clothes6.src} alt="" />
      </div>
    </div>
  </div>
</CaseLayout>
